{% extends 'layouts/main.html' %} {% block title %}Fyyur | Artists{% endblock %}
{% block content %}

<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>

		<button
			class="delete-button"
			onclick="handleArtistDelele({{artist.id}})"
			data-id="{{ artist.id }}"
		>
			<i class="fas fa-trash-alt"></i>
		</button>
		<button class="delete-button">
			<a href="/artists/{{artist.id}}/edit">
				<i class="fas fa-edit"></i>
			</a>
		</button>
	</li>
	{% endfor %}
</ul>
<script type="text/javascript" src="/static/js/artist.js" defer></script>
{% endblock %}
